<body>
  <div id="scroll-tracker"></div>

  <main>

    <article>
      <h1>SHAH LUCKY</h1>
      <div class="info_block">
        <p class="info">APRIL 1, 2024 / 8min read </p>
        <p class="likes">&#8226 124 lIkes</p>
        <p class="replies"> &#8226 12 replies</p>
        <p class="mentions"> &#8226 3 mentions</p>
      </div>
      <div>
        <p class="last_update">Last updated December 12, 2022</p>
      </div>
      <p>Andrei Arsenyevich Tarkovsky 4 April 1932[1] – 29 December 1986) was a Soviet filmmaker. Widely considered one of the greatest and most influential filmmakers of all time, his films explore <em>spiritual and metaphysical themes</em>, and are noted for their slow pacing and long takes, dreamlike visual imagery, and preoccupation with <em>nature and memory</em>.</p>
    </article>

    <article>
      <h2>Childhood and early life</h2>
      <p>Andrei Tarkovsky was born in the village of Zavrazhye in the Yuryevetsky District of the Ivanovo Industrial Oblast (modern-day Kadyysky District of the Kostroma Oblast, Russia) to the poet and translator <span class="link">Arseny Aleksandrovich Tarkovsky</span>, a native of Yelysavethrad (now Kropyvnytskyi, Ukraine), and Maria Ivanova Vishnyakova, a graduate of the <em>Maxim Gorky Literature Institute</em> who later worked as a corrector; she was born in Moscow in the Dubasov family estate.</p>
      <img src="https://www.sensesofcinema.com/wp-content/uploads/2002/05/Andrei-Tarkovsky.png" alt="Andrei Tarkovsky Portrait">
      <p>According to the family legend, Tarkovsky's ancestors on his father's side were princes from the <span class="link">Shamkhalate of Tarki</span>, Dagestan, although his sister Marina Tarkovskaya who did a detailed research on their genealogy called it "a myth, even a prank of sorts," stressing that none of the documents confirms this version.</p>
    </article>

    <article>
      <h2>Film school student</h2>
      <p>Upon returning from the research expedition in 1954, Tarkovsky applied at the <em>State Institute of Cinematography 🎥</em> and was admitted to the film-directing program. He was in the same class as <em>Irma Raush</em> whom he married in April 1957.</p>
      <p>The early Khrushchev era offered good opportunities for young film directors. Before 1953, annual film production was low and most films were directed by veteran directors. After 1953, more films were produced, many of them by young directors. The Khrushchev Thaw relaxed Soviet social restrictions a bit and permitted a limited influx of European and North American literature, films and music. This allowed Tarkovsky to see films of the <span class="link">Italian neorealists</span>, <span class="link">French New Wave</span>, and of directors such as <em>Kurosawa</em>, <em>Buñuel</em>, <em>Bergman</em>, <em>Bresson</em>, <em>Wajda</em> (whose film Ashes and Diamonds influenced Tarkovsky) and <em>Mizoguchi</em>.</p>
      <img src="https://mf.b37mrtl.ru/rbthmedia/images/web/en-rbth/images/2014-11/top/Tarkovsky-top.jpg" alt="Director Andrei Tarkovsky with a movie camera">
    </article>

    <div class="highlight">
      <h3>💡 Inspiration</h3>
      <p>Tarkovsky was, according to fellow student Shavkat Abdusalmov, fascinated by <em>Japanese films</em>. He was amazed by how every character on the screen is exceptional and how everyday events such as a Samurai cutting bread with his sword are elevated to something special and put into the limelight. Tarkovsky has also expressed interest in <em>art of Haiku</em> and its ability to create "images in such a way that they mean nothing beyond themselves"</p>
    </div>

    <article>
      <h2>Famous Movies</h2>
      <p>Tarkovsky is mainly known as a film director. During his career he directed seven feature films, as well as three shorts from his time at VGIK. His features are:</p>
      <ul>
        <li>Ivan's Childhood (1962)</li>
        <li>Andrei Rublev (1966)</li>
        <li>Solaris (1972)</li>
        <li>Mirror (1975)</li>
        <li>Stalker (1979)</li>
        <li>Nostalghia (1983)</li>
        <li>The Sacrifice (1986)</li>
      </ul>

      <p>He also wrote several screenplays. Furthermore, he directed the play Hamlet for the stage in Moscow, directed the opera Boris Godunov in London, and he directed a radio production of the short story Turnabout by William Faulkner. He also wrote Sculpting in Time, a book on film theory.</p>
      <p>Tarkovsky's <em>first feature film</em> was Ivan's Childhood in 1962. He then directed Andrei Rublev in 1966, Solaris in 1972, Mirror in 1975 and Stalker in 1979. The documentary <em>Voyage in Time</em> was produced in Italy in 1982, as was Nostalghia in 1983. His last film The Sacrifice was produced in Sweden in 1986. Tarkovsky was personally involved in writing the screenplays for all his films, sometimes with a cowriter. Tarkovsky once said: <cite>"A director who realizes somebody else's screenplay without being involved in it becomes a mere illustrator, resulting in dead and monotonous films.""</cite></p>
      <img src="https://faroutmagazine.co.uk/static/uploads/2021/06/5-shots-that-prove-Andrei-Tarkovsky-was-a-genius.jpg" alt="">
    </article>

  </main>

</body>

<script type="module"></script>