<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
      }

      .login-page {
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        width: 320px;
        max-width: 90%;
      }

      .form {
        padding: 20px;
      }

      input[type="text"],
      input[type="password"] {
        width: 100%;
        padding: 10px;
        margin: 10px 0;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
      }

      button {
        width: 100%;
        padding: 10px;
        margin: 10px 0;
        background-color: #4caf50;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
      }

      button:hover {
        background-color: #45a049;
      }

      .message {
        margin: 15px 0 0;
        color: #999;
        font-size: 12px;
      }

      .message a {
        color: #4caf50;
        text-decoration: none;
      }
    </style>
  </head>
  <body>
    <div class="login-page">
      <div class="form">
        <form class="login-form" action="/password" method="put">
          <input type="text" placeholder="oldpassword" name="oldPassword" />
          <input type="password" placeholder="newPassword" name="newPassword" />
          <button>Reset</button>
        </form>
      </div>
    </div>
  </body>
</html>
